#menu-item-photography {
  border-bottom-style: double;
  border-bottom-color: var(--blue);
  border-bottom-width: 4px;
  box-shadow:inset 0px -14px 10px -15px #0099cc;
}

#title-container {
  display: table;
  position: absolute;
  height: 70%;
  width: 100%;
}

#main-title {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: clamp(min(13vw, 200px), min(13vw, 138px), 27.5vw);
}

.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  //background-color: blue;
  width: 95%;
  margin: 50px auto;
}

.portfolio-entry { 
  margin: 2px;
  height: 400px;
  overflow: hidden;
}

.portfolio-entry-image {
  max-width: 100%;
  max-height: 100%;
}

.terms-container {
  margin: auto;
  width: 1000px;
  max-width: 100%;
}