:root {
  --elementbackground: #363636;
  --mainbackground: #212121;
  --bodybackground: black;
  --linkhovercolor: lightgoldenrodyellow;
  --blue: #0099cc;
  --content-width: 1920px;
}

html {
    overflow: auto;
}

body {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: var(--bodybackground);
}

h1, h2, h3, h4, h5, p, a, li {
  color: darkgray;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

a > p:hover {
  color: lightgoldenrodyellow;
}

a > p:active {
  color: var(--blue);
}

li {
  margin: 1em;
}

.link-in-grid {
  display: grid;
  grid-template-columns: 2em auto;
}

.link-in-grid > img {
  width: 1em;
}

.link-in-grid > p {
  margin: 0px;
}

main {
  width: var(--content-width);
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top;
  //background-attachment: fixed;
  background-color: var(--mainbackground);
}

header {  
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
  background-color: var(--elementbackground);
  box-shadow: 0px 0px 50px 10px black;
}

#phantom {
  flex-grow: 1;
  height: min(40vw, 200px);
  flex-shrink: 0;
  vertical-align: top;
  width: 500px;
}

.header-content-area {  
  max-width: var(--content-width);
  margin: auto;
}

.flex-header {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.menu-item {
  border-bottom: 4px double transparent;  
  padding: 15px 5vw;
}

.menu-item-img {
  width: 7vw;
  //min-width: 30px;
  max-width: 60px;
}


.menu-item:hover {
  border-bottom-style: double;
  border-color: var(--linkhovercolor);
  border-width: 4px;
}

.menu-item:active {
  border-bottom-style: double;
  border-color: var(--blue);
  border-width: 4px;
  box-shadow:inset 0px -14px 10px -14px #0099cc;
}

.introduction-space{
  position: sticky;
  right: 50px;
  //top: 50px;
  height: 500px;
  background-blend-mode: overlay;
}

.main-title {
  font-size: clamp(min(10vw, 200px), min(80vw, 138px), 27.5vw);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: clamp(min(13vw, 200px), min(13vw, 138px), 27.5vw);
}

.big-title {
  
  /* font-size: 100%; */
  /* margin: 0px; */
  color: var(--blue);
  font-weight: 200;
  //mix-blend-mode: overlay;
  float: right;
  /* margin: 0 auto; */
  /* text-align: right; */
  margin-top: 0;
  margin-right: 0;
  /* text-align: right; */
  /* right: 0; */
  z-index: 0;
}

.introduction-text {
  margin: 0px auto;
  top: 10px;
  /* padding: 10px; */
  width: 780px;
  max-width: 100%;
  text-align: center;
}

footer {
  background-color: var(--elementbackground);
  padding: 20px;
}

.flex-footer {
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;  
}

.flex-footer > div {
  margin-left: 20px;
  margin-right: 20px;  
}

.social-image {
  height: 30px;
}

.image-preview {
  cursor: pointer;
}

.hud {
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center; /* aligns on vertical for column */
  align-items: center;
  z-index: 100;
}

#hud-image {
  max-width: 90%;
  max-height: 90%;
  z-index: 101;
}

#close-hud {
  font-size: 24pt;
  width: 44px;
  height: 44px;
  cursor: pointer;
  z-index: 102;
  opacity: 0;
  color: white;
  background-color: #000000ab;
  border-radius: 24px;
  margin-left: auto;
  margin-right: 20px;
}