:root {
  --elementbackground: #363636;
  --mainbackground: #212121;
  --bodybackground: black;
  --linkhovercolor: lightgoldenrodyellow;
  --blue: #0099cc;
  --content-width: 1920px;
}

html {
    overflow: auto;
}

body {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: var(--bodybackground);  
}

h1, h2, h3, h4, h5, p, a, li {
  color: darkgray;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

a > p:hover {
  color: lightgoldenrodyellow;
}

a > p:active {
  color: var(--blue);
}

li {
  margin: 1em;
}

.link-in-grid {
  display: grid;
  grid-template-columns: 2em auto;
}

.link-in-grid > img {
  width: 1em;
}

.link-in-grid > p {
  margin: 0px;
}

main {
  width: var(--content-width);
  max-width: 100%;
  margin: 0 auto;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed; 
  background-color: var(--mainbackground);
  
}

header {  
  position: sticky;
  top: 0px;
  z-index: 10;
  width: 100%;
  background-color: var(--elementbackground);
  box-shadow: 0px 0px 50px 10px black;
}

.header-content-area {  
  max-width: var(--content-width);
  margin: auto;
}

.flex-header {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.menu-item {
  border-bottom: 4px double transparent;  
  padding: 15px 40px;
}

.menu-item-img {
  width: 7vw;
  min-width: 30px;
  max-width: 60px;
}


.menu-item:hover {
  border-bottom-style: double;
  border-color: var(--linkhovercolor);
  border-width: 4px;
}

.menu-item:active {
  border-bottom-style: double;
  border-color: var(--blue);
  border-width: 4px;
  box-shadow:inset 0px -14px 10px -14px #0099cc;
}

.introduction-space{
  position: relative;
  min-height: 350px; 
}

.introduction-image {
  width: 500px;
  max-width: 100%;
  border-width: 0px 00px 00px 0px;
  box-shadow: 0px 0px 50px 10px var(--mainbackground);
}

#name {
  resize: horizontal;
  font-size: clamp(min(10vw, 200px), min(80vw, 138px), 27.5vw);
}

.big-title {
  position: absolute;
  right: 10px;
  top: 0px;  
  font-size: 15em;
  margin: 0px;
  color: var(--linkhovercolor);
  font-weight: 200;
  mix-blend-mode: overlay;
}

.introduction-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start; 
}

.introduction-text {
  margin: 0px auto;
  top: 10px;
  padding: 10px;
  width: 780px;
  max-width: 100%;
  text-align: center;
}

#filler {
  flex-grow: 1;
  height: min(40vw, 200px);
  flex-shrink: 0;
  vertical-align: top;
  width: 500px;
}

#title-container {
  min-width: 250px;
  flex-grow: 1;
}

footer {
  background-color: var(--elementbackground);
  padding: 20px;
}

.flex-footer {
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;  
}

.flex-footer > div {
  margin-left: 20px;
  margin-right: 20px;  
}

.social-image {
  height: 30px;
}