:root {
  --elementbackground: #363636;
  --mainbackground: #212121;
  --bodybackground: black;
  --linkhovercolor: lightgoldenrodyellow;
  --blue: #0099cc;
  --content-width: 1920px;
}

html {
    overflow: auto;
}

body {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: var(--bodybackground);  
}

h1, h2, h3, h4, h5, p, a, li {
  color: darkgray;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
}

main {
  width: var(--content-width);
  max-width: 100%;
  margin: 0 auto;  
  background-color: var(--mainbackground);
  
}

header {  
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  background-color: var(--elementbackground);
  box-shadow: 0px 0px 50px 10px black;
}

.header-content-area {  
  max-width: var(--content-width);
  margin: auto;
}

.flex-header {  
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.menu-item {
  border-bottom: 4px double transparent;  
  padding: 15px 40px;
}

.menu-item-img {
  width: 7vw;
  min-width: 30px;
  max-width: 60px;
}


.menu-item:hover {
  border-bottom-style: double;
  border-color: var(--linkhovercolor);
  border-width: 4px;
}

.menu-item:active {
  border-bottom-style: double;
  border-color: var(--blue);
  border-width: 4px;
  box-shadow:inset 0px -14px 10px -14px #0099cc;
}

.intro{
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: top;
}

.flex-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;  
}

.intro-text {
  margin: auto;
  padding: 10px;
  width: 780px;
  max-width: 100%;
  text-align: center;
}

.intro-image {
  width: 700px;
  max-width: 100%;
  border-width: 0px 00px 00px 0px;
  box-shadow: 0px 0px 50px 10px var(--mainbackground);
}

.biography {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.timeline-grid {
  width: 800px;
  max-width: 100%;
  display: grid;
  column-gap: 2px;
  grid-template-columns: 6em 10fr;
  margin: 20px auto;
  padding: 10px;
}

.timeline-grid-header { 
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.timeline-grid-header >h2{ 
  color: lightgoldenrodyellow;
}

.timeline-grid >div:nth-child(even) { 
  text-align: right;
  border-color: var(--blue);
  border-right-width: 1px;
  border-right-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
  text-align: center;
}

.timeline-grid >div:nth-child(odd) {
  border-color: var(--blue);
  border-width: 1px;
  border-left-style: solid;
}

.timeline-grid >div{
  padding: 0px 10px;
}

.timeline-grid >div:nth-child(2) { 
  border-top-style: none; 
}

.timeline-grid >div:nth-child(1) { 
  border-left-style: none;
}

.showcase-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: start;
}

.showcase-entry {
  border: 4px solid var(--mainbackground);
  margin: 20px;
  background-color: var(--elementbackground);
  border-radius: 25px;
  width: 500px;
}

.showcase-entry:hover {
  border-style: double;
  border-color: var(--linkhovercolor);
}

.showcase-entry:active {
  border-style: double;
  border-color: var(--blue);
  box-shadow: 0px 0px 10px 0px var(--blue);
}

.showcase-entry-image {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.showcase-entry-text {
  margin: 20px;
  text-align: justify;
}

.showcase-entry-title {
  font-weight: bold;
  text-align: center;
}

footer {
  border-top-style: solid;
  border-top-color: darkgray;
  border-width: 1px;
  padding: 20px;
}

.flex-footer {
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;  
}

.flex-footer > div {
  margin-left: 20px;
  margin-right: 20px;  
}

.social-image {
  height: 30px;
}