html {
    overflow: auto;
}

body {
  overflow: auto;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: #212121;
}

h1, h2, h3, h4, h5, p, a {
  color: darkgray;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
 }

 a:hover
 {
    color: lightsteelblue;
 }

 a:active {
  color: blue;
 }



header {  
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.header-content-area {  
  background-color: #363636 ;
  //box-shadow: 0px 0px 50px 10px black;
}

.flex-header {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.flex-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.flex-intro > div {
  margin: 20px;
}

.intro-text {
  padding: 10px;
  width: 720px;
  max-width: 100%;
  text-align: center;
  border-left-style: solid;
  border-right-style: solid;
  border-color: blue;
  border-radius: 25px;
  border-width: 2px;
}

.intro-image {
  width: 600px;
  max-width: 100%;
  border-radius: 25px;
}




.flex-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: start;
}


.content-entry {
  margin: 20px;
  background-color: #363636;
  border-radius: 25px;
  width: 500px;
}

.content-entry:hover {
  border-width: 2px;
  border-color: lightsteelblue;
  border-style: solid;
  margin: 18px;
}

.content-image {
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.content-text {
  margin: 20px;
  text-align: justify;
}

.content-title {
  font-weight: bold;
  text-align: center;
}


footer {
  border-top-style: solid;
  border-top-color: darkgray;
  border-width: 1px;
  padding: 20px;
}

.flex-footer {
  margin: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  
}

.flex-footer > div {
  margin-left: 20px;
  margin-right: 20px;  
}

.social-image {
  height: 30px;
}