body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, p, a {
  color: darkgray;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}

h1 {
  margin: 0.1em;
}

h2 {
  margin: .83em;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
 }

 a:hover
 {
    color: #a68585;
 }

 a:active {
    color: darkred;
 }

header {
  background-color: #363636 ;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 00px 00px 50px 10px black;
}

.flex-header {
  display: flex;
  justify-content: center;
}

.menu-item {
  margin: 60px;
  padding: 10px;  
}

#menu-item-home {
  border-bottom-style: solid;
  border-color: darkred;
  border-width: 2px;
}

#menu-item-art {
  
}

#menu-item-extra {
  
}

.flex-intro {
  display: flex;
  justify-content: center;
}

.flex-intro > div {
  margin: 100px;
}

.intro-text {
  width: 500px;
  text-align: justify;
  text-justify: inter-word;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: darkred;
  border-radius: 1vw;
  border-width: 2px;
}

.intro-image {
  width: 500px;
  border-radius: 1vw;
}