main {
  background-image: url("https://raw.githubusercontent.com/danielug/website/main/images/background-home.png");
}

#menu-item-home {
  border-bottom-style: double;
  border-bottom-color: var(--blue);
  border-bottom-width: 4px;
  box-shadow:inset 0px -14px 10px -15px #0099cc;
}