#menu-item-art {
  border-bottom-style: double;
  border-bottom-color: var(--blue);
  border-bottom-width: 4px;
  box-shadow:inset 0px -14px 10px -15px #0099cc;
}

.painting-entry {
  width: 80%;
  position: relative;
  //background-color: green;
  margin: 100px 0px 100px auto;
}

.painting-background { 
  width: 75%;
  //height: auto;
  display: block;
  margin-left: auto;
}

.painting {
  position: absolute;
  width: 40%;
  height: 80%;
  //top: 0;
  bottom: 10%;
  left: 20px;
  margin: auto; 
  object-fit: contain; 
  z-index: 1;
  box-shadow: 20px 20px 40px 0px var(--mainbackground);
}

