#menu-item-art {
  border-bottom-style: double;
  border-bottom-color: var(--blue);
  border-bottom-width: 4px;
  box-shadow:inset 0px -14px 10px -15px #0099cc;
}

.painting-entry {
  width: 80%;
  position: relative;
  margin: 100px 0px 100px auto;
}

.painting-background { 
  width: 75%;
  display: block;
  margin-left: auto;
}

.painting-container {
  position: absolute;
  width: 40%;
  height: 80%;
  bottom: 10%;
  margin: auto; 
  z-index: 1;
}

.painting {
  position: absolute;
  max-width:100%;
  max-height: 100%;
  bottom: 0;
  right: 0;
  object-fit: contain;
  box-shadow: 20px 20px 40px 0px var(--mainbackground);
}

